.cus-thumbnail{
  width:20em;
  height:13.7em;
  position:relative;
  overflow:hidden;
}
div img.cus-img{
  display:block;
  height:13em;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.cus-thumbnail:hover img.cus-img{
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.cus-thumbnail .mask{
  width:20em;
  height:13.7em;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(255, 215, 0, 0.4);
  -webkit-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.cus-thumbnail .mask:hover{
  opacity:1;
}
.cus-thumbnail h3{
  -webkit-transform:translateY(-100px);
  transform:translateY(-100px);
  opacity:0;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  color:white;
  text-shadow:2px 2px 2px grey;
  text-align:center;
  font:bold 3em Edwardian Script ITC;
  background-color:rgba(42,100,150,0.4);
  box-shadow:0px 0px 5px white;
}
.cus-thumbnail:hover h3{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}

.cus-thumbnail p{
  opacity:0;
  word-wrap:break-word;
  color:white;
  -webkit-transform:translateY(100px);
  transform:translateY(100px);
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  text-shadow:1px 1px 1px grey;
  /*text-align:justify;*/
  height:4em;
  overflow:hidden;
  word-wrap:break-word;
}

.cus-thumbnail:hover p{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}

.cus-thumbnail a{
  display:block;
  width:3em;
  text-align:center;
  font:italic bold 2em Verdana;
  text-decoration:none;
  margin:0 auto;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  opacity:0;
  text-shadow:2px 2px 2px #CCE5FF;
  -webkit-transform:translateY(100px);
  transform:translateY(100px);
}

.cus-thumbnail:hover a{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}
.cus-thumbnail a:hover{
  text-shadow:2px 2px 10px white;
}


/*TODO: test different css3 style*/
.about-container{
  width: 300px;
  height: 200px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  /*background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}

.about-container img {
  display: block;
  position: relative;
  width: 280px;
  height: 180px;
}

.about-container .about-content {
  width: 280px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotate(-32.5deg) translate(-91px, 150px) scale(1.18);
  transform: rotate(-32.5deg) translate(-91px, 150px) scale(1.18);
}


.about-container:hover .about-content {
  width: 280px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 30px;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  opacity: 0.9;
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
  /*can add transition in both hover on and off*/
  /*transition in hover means mouse enter will use this transition*/
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}


.about-container h2 {
  margin-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.about-container p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  text-align: center;
}

.mask-1{
	/*TODO: need to understand why left right set like this*/
	left: auto;
	right: 0;
	-webkit-transform: rotate(57.5deg) translateX(-180px);
	transform: rotate(57.5deg) translateX(-180px);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 361px;
	width: 361px;
	background: rgba(119, 0, 36, 0.5);
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out 0.4s;
	transition: all 0.3s ease-in-out 0.4s;
	position: absolute;
	overflow: hidden;
	top: 0;
}

.about-container:hover .mask-1{
	-webkit-transform: rotate(57.5deg) translateX(1px);
	transform: rotate(57.5deg) translateX(1px);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.mask-2{
	top: auto;
	bottom: 0;
	-webkit-transform: rotate(57.5deg) translateX(180px);
	transform: rotate(57.5deg) translateX(180px);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 361px;
	width: 361px;
	background: rgba(119, 0, 36, 0.5);
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out 0.4s;
	transition: all 0.3s ease-in-out 0.4s;
	position: absolute;
	overflow: hidden;
}

.about-container:hover .mask-2{
	-webkit-transform: rotate(57.5deg) translateX(-1px);
	transform: rotate(57.5deg) translateX(-1px);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.view {
	/* position: relative; */
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 1.4s;
    -o-transition-duration: 1.4s;
    -webkit-transition-duration: 1.4s;
    transition-duration: 1.4s
}

.view.active {
	opacity: 0.2;
}

.view:not(.active){
	opacity: 0;
}