<!doctype html>
<html ng-app="zhutou">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css"> -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/prettify.css">
<title>zhutou</title>
</head>
<body>

<div ng-controller="MainCntl" ng-cloak>
  <nav class="navbar navbar-default" role="navigation">
		<div class="container">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		  <div class="collapse navbar-collapse">
		    <ul class="nav navbar-nav">
		      <li ng-class="{ active: isActive() }" ng-repeat="tab in tabs">
		      		<a ng-if="!tab.children" href={{tab.url}} data-target="#" data-toggle="tab">{{tab.text}}</a>
		      		
		      		<a ng-if="tab.children" href={{tab.url}} data-target="#" data-toggle="dropdown">
		      			{{tab.text}}
		      			<b class="caret"></b>
		      		</a>
		      		<ul ng-if="tab.children" class="dropdown-menu">
		      			<li ng-repeat="t in tab.children">
	            		<a href="{{t.url}}">{{t.text}}</a>
	            	</li>
	            </ul>
		      </li>
		      
		      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          
		    </ul>
		  </div>
		</div>
  </nav>
 	
  <div class="container container-view">
    <div ng-view></div>
  </div>
  
  
  <!-- how to make the footer in the bottom of the page? -->
   <div class="footer">
   	<ul>
   		<li>
   			<a href="#/Contact">Contact us</a>
   		</li>
   	</ul>  
   </div>
</div>



</body>

<!-- JQuery libs -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Angular libs -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-sanitize.min.js">
</script>

<!-- Bootstrap libs -->
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>


<!-- zhutou Angular lib -->
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>





</html>