<!--TODO: test for different css3 style-->
<div class="about-container">
	<img src="imgs/img1.jpg">
    <div class="about-content">
    	<h2>About us</h2>
    	<!--
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
        -->
    </div>
</div>


<div style="clear:both;"></div>


<!--begin from here-->
<div class="container" ng-controller="ThumbnailCntl">
<div class="row" ng-repeat="row in rows">
  <div class="col-sm-6 col-md-4" ng-repeat="thumbnail in row">
    <div class="thumbnail cus-thumbnail">
      <img class="cus-img" ng-src="{{thumbnail.src}}" alt="...">
      <div class="caption mask">
        <h3>{{thumbnail.label}}</h3>
        <p>{{thumbnail.desc}}</p>
        <a href={{thumbnail.link}} class="" role="button">Enter</a> 
      </div>
    </div>
  </div>
</div>
</div>