<!--TODO: test for different css3 style-->
<!-- 
<div class="about-container">
	<img src="imgs/img1.jpg">
	<div class="mask-1"></div>
	<div class="mask-2"></div>
    <div class="about-content">
    	<h2>About us</h2>
        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
    </div>
</div>
 -->

<!-- 
<div style="clear:both;"></div>
 -->

<style>
#drop6, #drop7 {
	cursor: pointer;
}

.container-input-toolbar-search {
	width: 250px;
}
</style>

<!--begin from here-->
<div class="container" ng-controller="VideosCntl">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li style="cursor: default;" class="active">Videos</li>
	</ol>
	
  <div class="toolbar">
    <!-- search input starts -->
    <div class="container-input-toolbar container-input-toolbar-search">
    	<input type="text" ng-model="query" class="form-control" placeholder="Search by...">
    </div>
    <!-- search input ends -->

    <!-- filter by starts -->
    <div class="container-input-toolbar">
	    <ul class="nav nav-pills">
        <li class="dropdown">
          <a id="drop6" role="button" data-toggle="dropdown" data-target="#" >Filter by<b class="caret"></b></a>
          <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 1</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 2</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 3</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- filter by starts -->
    
    <!-- order by starts -->
    <div class="container-input-toolbar">
	    <ul class="nav nav-pills">
        <li class="dropdown">
          <a id="drop7" role="button" data-toggle="dropdown" data-target="#" >Order by<b class="caret"></b></a>
          <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 1</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 2</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 3</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Tag 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- filter by starts -->
  </div>
  
  <div class="row" ng-repeat="videoRow in videos">
    <div class="col-sm-6 col-md-4" ng-repeat="video in videoRow | videoQuery : query">
      <div class="thumbnail cus-thumbnail">
        <img class="cus-img" ng-src="{{video.src}}" alt="...">
        <div class="caption mask">
          <h3>{{video.label}}</h3>
          <p>{{video.desc}}</p>
          <a href={{video.link}} class="" role="button">Enter</a> 
        </div>
      </div>
    </div>
  </div>

</div>

