


.cus-thumbnail{
  width:20em;
  height:13.7em;
  position:relative;
  overflow:hidden;
  margin-bottom:0;
}
div img.cus-img{
  display:block;
  height:13em;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.cus-thumbnail:hover img.cus-img{
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.cus-thumbnail .mask{
  width:20em;
  height:13.7em;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(255, 215, 0, 0.4);
  -webkit-transition:all 0.4s ease-in-out;
  transition:all 0.4s ease-in-out;
}
.cus-thumbnail .mask:hover{
  opacity:1;
}
.cus-thumbnail h3{
  -webkit-transform:translateY(-100px);
  transform:translateY(-100px);
  opacity:0;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  color:white;
  text-shadow:2px 2px 2px grey;
  text-align:center;
  font:bold 3em Edwardian Script ITC;
  background-color:rgba(42,100,150,0.4);
  box-shadow:0px 0px 5px white;
}
.cus-thumbnail:hover h3{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}

.cus-thumbnail p{
  opacity:0;
  word-wrap:break-word;
  color:white;
  -webkit-transform:translateY(100px);
  transform:translateY(100px);
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  text-shadow:1px 1px 1px grey;
  /*text-align:justify;*/
  height:4em;
  overflow:hidden;
  word-wrap:break-word;
}

.cus-thumbnail:hover p{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}

.cus-thumbnail a{
  display:block;
  width:3em;
  text-align:center;
  font:italic bold 2em Verdana;
  text-decoration:none;
  margin:0 auto;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
  opacity:0;
  text-shadow:2px 2px 2px #CCE5FF;
  -webkit-transform:translateY(100px);
  transform:translateY(100px);
}

.cus-thumbnail:hover a{
  opacity:1;
  -webkit-transform:translateY(-20px);
  transform:translateY(-20px);
}
.cus-thumbnail a:hover{
  text-shadow:2px 2px 10px white;
}

.container-main-videos{
  float: left;
  width: 900px;
  margin-left: 90px;
  margin-right: 20px;
}

.container-right-videos{
  float: left;
  width: 300px;
  height: 352px;
}

.thumbnail-outer-container{
  width:319px;
  margin-bottom:20px;
}

/* -start- video detail page */
.videoDetailContainer{
  float: left;
  width: 900px;
  margin-left: 90px;
  margin-right: 20px;
}
/* -end- video detail page */

/* -start- masthead in home page */
.about-container{
  width: 900px;
  height: 600px;
  margin: 0 auto;
  /*float: left;*/
  border: 30px solid #000;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  /*background: #fff url(../images/bgimg.jpg) no-repeat center center;*/
}

.about-container img {
  display: block;
  position: relative;
  width: 840px;
  height: 540px;
}

.about-container .about-content {
  width: 840px;
  height: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  opacity: 0.5;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transform: rotate(-32.5deg) translate(-91px, -50px) scale(1.18);
  transform: rotate(-32.5deg) translate(-91px, 150px) scale(1.18);
}

.about-content {
	border: 1px solid #FFF;
}

.about-container:hover .about-content {
  width: 840px;
  height: 360px;
  position: absolute;
  left: 0;
  top: 90px;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  opacity: 0.9;
  -webkit-transform: rotate(0deg) translate(0, 0);
  transform: rotate(0deg) translate(0, 0);
  /*can add transition in both hover on and off*/
  /*transition in hover means mouse enter will use this transition*/
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}


.about-container h2 {
  margin-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 40px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
}

.about-container p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 30px;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 20px 60px;
}

.mask-1{
	/*TODO: need to understand why left right set like this*/
	left: auto;
	right: 0;
	-webkit-transform: rotate(57.5deg) translateX(-460px);
	transform: rotate(57.5deg) translateX(-460px);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 1083px;
	width: 1083px;
	background: rgba(119, 0, 36, 0.5);
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out 0.4s;
	transition: all 0.3s ease-in-out 0.4s;
	position: absolute;
	overflow: hidden;
	top: 0;
}

.about-container:hover .mask-1{
	-webkit-transform: rotate(57.5deg) translateX(1px);
	transform: rotate(57.5deg) translateX(1px);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.mask-2{
	top: auto;
	bottom: 0;
	-webkit-transform: rotate(57.5deg) translateX(460px);
	transform: rotate(57.5deg) translateX(460px);
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	background-color: rgba(0, 0, 0, 0.5);
	height: 1083px;
	width: 1083px;
	background: rgba(119, 0, 36, 0.5);
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out 0.4s;
	transition: all 0.3s ease-in-out 0.4s;
	position: absolute;
	overflow: hidden;
}

.about-container:hover .mask-2{
	-webkit-transform: rotate(57.5deg) translateX(-4px);
	transform: rotate(57.5deg) translateX(-4px);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
/* -end- masthead in home page */

/* -start- features introduction in home page */
.feature-container{
  width: 900px;
  margin: 0 auto;
  /*float: left;*/
  border: 30px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px #e6e6e6;
  -moz-box-shadow: 0px 0px 20px #e6e6e6;
  box-shadow: 0px 0px 20px #e6e6e6;
  cursor: default;
}

.feature-container .panel{
	float:left;
	width:250px;
	margin:0 15px;
}
/* -end- features introduction in home page */

/* video detail page css */
.videoDetailHeader h2{
	width:100px;
	margin: 10px auto;
	color: black;
    text-shadow:2px 2px 2px grey;
    text-align:center;
    font:bold 5em Edwardian Script ITC;
}
.videoDetailContent{
    
}
.videoDetailContent iframe{
	display: block;
	/*width: 600px;
	height: 400px;*/
	margin: 0 auto 20px;
}
.thirdParty{
	margin-top:20px;
	text-align: center;
}
.thirdParty ul{
	display: inline-block;
    list-style: none;
}
.thirdParty ul li{
	display: inline-block;
	width: 100px;
	margin-right:20px;
}
.videoDetailDesc{
	
}

.view {
	/* position: relative; */
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 1.4s;
    -o-transition-duration: 1.4s;
    -webkit-transition-duration: 1.4s;
    transition-duration: 1.4s
}

.view.active {
	opacity: 0.2;
}

.view:not(.active){
	opacity: 0;
}

div.footer{
	border-top: 1px solid #ddd;
	text-align: center;
	margin: 10px auto;
	clear: left;
	/*
	position: absolute;
	bottom: 0;
    */
}

div.footer ul{
	display: inline-block;
}

div.footer ul li{
	display: inline-block;
}

.toolbar {
  height: 60px;
  padding: 10px;
  margin-bottom: 20px;
}

.container-input-toolbar {
	float: left;
	margin-right: 30px;
}

.container-input-toolbar .nav>li>a {
	padding-top: 7px;
	padding-bottom: 7px; 
}

.container, .container-view {
	width: 980px;
	margin: 0 auto;
}

.container {
	width: 980px !important;
}

/* schedule css */

.schedule-container {
	width:1000px;
	height:500px;
	border:10px double #000;
	position:relative;
	overflow:auto;
	text-align:center;
	-webkit-box-shadow:1px 1px 2px #e6e6e6;
	-moz-box-shadow:1px 1px 2px #e6e6e6;
	box-shadow:1px 1px 2px #e6e6e6;
	cursor:default;
	margin:0 auto;
}

.schedule-container li {
	list-style:none;
	width:850px;
	height:83px;
	overflow:hidden;
	position:relative;
	text-align:left;
	margin: 0 auto;
	left: -20px;
}

.schedule-cell {
	width:850px;
	height:80px;
	border:1px dashed #999;
	margin:3px auto;
	padding:5px 5px;
}.schedule-cell:hover{
	background-color:#F0F0F0;
}

.schedule-cell img {
	float:left;
}

.info-cell {
	float:right;
	width: 750px;
	text-align:left;
}

.info-cell .text-cell{
	float:left;
}

.info-cell .match-title{
	text-align:center;
	font-size: 24px;
}

.info-cell .match-info{
	display:inline-block;
	padding:0 5px 0 0;
	font-family: tahoma;
}

.info-cell .match-time{
	display:inline-block;
	padding:0 20px;
	font-family:"Arial Black";
}

.schedule-btn{
	float:right;
	left:30px;
	padding:auto 30px;
	margin: auto 30px;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	height:55px;
	line-height:45px;
	width:127px;
	color: #666666;
	background-color: #f0c911;	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border:5px solid #e65f44;	
}.schedule-btn:hover {
	background-color:#E6E6E6;
	text-decoration:none;
}
